*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }
body {
    width: 100%;
    background-color: white;
    font-family: Raleway;
    font-size: 1.2em;
    }    
nav {
    margin-left: 15px;
    width: 100%;
    }
section {
    width: 100%;
    }
.menu {
    display: flex;
    justify-content: center;
    }
@media only screen and (min-width: 700px) {
    .menu {
        position: absolute;
        top: 18px;
        right: 130px;
        display: flex;
        justify-content: center;
        }
    }
.logo {
    margin: 20px 0px 20px 30px;
    text-align: left;
    }
.rvaccom {
    color: #0065FC;
    font-family: Helvetica;
    width: 150px;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color:#0065FC
    }
@media only screen and (min-width:700px) {
    .rvaccom {
        color: #0065FC;
        font-family: Helvetica;
        width: 180px;
        padding: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        border-top-style: solid;
        border-top-color:#0065FC;
        border-bottom-color: white;
        }
    }
.rvactiv {
    color: black;
    font-family: Helvetica;
    width: 150px;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    }
@media only screen and (min-width:700px) {
    .rvactiv {
        color: black;
        font-family: Helvetica;
        width: 180px;
        padding: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        border-top-style: solid;
        border-top-color: black;
        border-bottom-color: white;
        }
    }
.signup {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 30px 0 0 0;
    color: #0065FC;
    text-decoration: none;
    }
h2  {
    font-family: Raleway;
    padding-top: 30px;
    }
h4 {
    font-family: Raleway;
    }
/* body */
/* h */

.destination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
.mapmarker {
    width: 40px;
    border: 1px solid white;
    line-height: 2.5;
    font-size: 1em;
    align-items: center;
    padding: 15px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    }
.mapmarker:hover {
    background-color: red;
    }
.whereto {
    border: 1px solid white;
    font-size: 1em;
    line-height: 2.5;
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    }
.whereto:hover {
    background-color: red;
    }
.searchit {
    border: 1px solid white;
    font-size: 1em;
    line-height: 2.5;
    padding: 15px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    }
.searchit:hover {
    background-color: red;
    }
.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Raleway;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: .5;
    padding: 5px;
    }
.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 1px solid grey;
    border-radius: 50px;
    margin: 5px;
    }
.filter:hover {
    background-color: red;
    }
.iconic {
    height: 50px;
    width: 50px;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 50px;
    border: 0px solid grey;
    color: #0065FC;
    }
.banner {
    line-height: 0;
    font-size: 1em;
    margin: auto;
    padding: 0px 10px;
    background-color:white;
    border-radius: 0 30px 30px 0;
    }
.banner:hover {
    background-color: transparent;
    }
.filteri {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    padding: 0 5px 5px 0;
    }
.iconici {
    height: 30px;
    width: 30px;
    margin: 5px;
    padding: 3px 0 0 10px;
    background-color:white;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    }
.banneri {
    line-height: 1em;
    padding: 10px;
    font-size: .9em;
    }
.checked {
    color: #0065FC;
    }
.unchecked {
    color: #f2f2f2;
    }
/* BODY    */
/* Accom & Most Pop flex box */
.mostpopaccom {
    display: flex;
    flex-wrap: wrap-reverse;
    grid-gap: 10px;
    }
.fa-star {
    font-size: 10px;
    }
/* Accommodations in Marseilles */
.accoms {
    padding: 25px;
    max-width: 1060px;
    min-width: 345px;
    background-color: #f2f2f2;
    }
.acctitle {
    padding: 5px;
    width: 1420px;
    }
.acctiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 18px;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    }
.pops {
    background-color: white;
    padding: 1px;
    border-radius: 15px;
    }
.pops2a {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.pops2a:hover {
    background-color: red;
    }
.crop2 {
    width: 320px; /* width of container */
    height:108px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.pops2ab {
    text-align: left;
    font-size: 16px;
    margin-left: 15px;
    height: 65px;
    padding: 5px;
    }
/* Most popular hotels in Marseilles */
.mostpop {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    justify-content: flex-start;
    grid-gap: 12px;
    align-content: center;
    padding: 20px;
    width: 375px;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    }
.poptitle {
    background-color: #f2f2f2;
    padding: 5px;
    }
.floater {
    float: right;
}
.poptile {
    background-color: white;
    padding: 1px;
    border-radius: 15px;
    }
.pops1a {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.pops1a:hover {
    background-color: red;
    }
.crop1 {
    width: 120px; /* width of container */
    height: 130px; /* height of container */
    object-fit: cover;
    float: left;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    }
.pops1ab {
    display:inline-block;
    justify-content: center;
    text-align: left;
    font-size: .9em;
    width: 200px;
    margin: 5px;
    }
/* Activities flex box */
.activinloc {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    }
.activs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 15px;
    justify-content: left;
    justify-content: space-around;
    padding: 25px;
    background-color: white;
    }
@media only screen and (min-width: 700px) {
    .activs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 500px;
        grid-gap: 15px;
        justify-content: left;
        justify-content: space-around;
        padding-bottom: 20px;
        background-color: white;
        }
        }
.acttitle {
    max-width: 1400px;
    min-width: 355px;
    padding: 20px;
    }
.citys {
    background-color: white;
    border-radius: 15px;
    }
.citys3a {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys :hover {
    background-color: red;
    }
.citys3ab {
    text-align: left;
    font-size: 1em;
    margin-left: 0px;
    height: 35px;
    padding: 5px;
    border-radius: 0 0 15px 15px;
    }
a {
    text-decoration: none;
    color: black;
}

/* crop3 was used in media query */
.crop3 {
    width: 120px; /* width of container */
    height: 130px; /* height of container */
    object-fit: cover;
    float: left;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    }
    
.crop4a {
    width: 320px; /* width of container */
    height:377px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4b {
    width: 320px; /* width of container */
    height:216px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4c {
    width: 320px; /* width of container */
    height:108px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4d {
    width: 320px; /* width of container */
    height:377px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4e {
    width: 320px; /* width of container */
    height:162px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4f 
    {
    width: 320px; /* width of container */
    height:162px; /* height of container */
    object-fit: cover;
    object-position: 30% 50%; /* try 20px 10px */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
}
        
.city1a {
    padding: 0px;
    border: 1px;
    border-radius: 20px;
    }
@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .crop4a, .crop4b, .crop4c, .crop4d, .crop4e, .crop4f  {
        width: 320px; /* width of container */
        height:108px; /* height of container */
        object-fit: cover;
        float: inline-start;
        padding: 5px;
        border-radius: 15px 15px 0 0;
    }
} 
/* FOOTER  */
.rvfoot {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    font-family: Raleway;
    font-size: .6rem;
    padding: 30px 30px 0 30px;
    background-color: #f2f2f2;
    }
.rvfoot1 {
    width: 400px;
    height: 130px;
    padding-right: 80px;
    }
.foot1a {
    font-size: .8rem;
    border: 0;
    }
.foot1a:hover {
    background-color: red;
    }