*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    }
body {
    width: 100%;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}    
nav {
    margin-left: 20px;
    padding-top: 30px;
    }
main {
    padding: 5px;
}
.menu {
    display: flex;
    justify-content: center;
    }
@media only screen and (min-width: 700px) {
    .menu {
        position: absolute;
        top: 18px;
        right: 130px;
        display: flex;
        justify-content: center;
        }
    }
.logo {
    margin: 20px 0px 20px 21px;
    text-align: left;
    }
.rvaccom {
    color: #0065FC;
    font-family: Helvetica;
    width: 150px;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color:#0065FC
    }
@media only screen and (min-width:700px) {
    .rvaccom {
        color: #0065FC;
        font-family: Helvetica;
        width: 180px;
        padding: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        border-top-style: solid;
        border-top-color:#0065FC;
        border-bottom-color: white;
        }
    }
.rvactiv {
    color: black;
    font-family: Helvetica;
    width: 150px;
    padding: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    }
@media only screen and (min-width:700px) {
    .rvactiv {
        color: black;
        font-family: Helvetica;
        width: 180px;
        padding: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        border-top-style: solid;
        border-top-color: black;
        border-bottom-color: white;
        }
    }
.signup {
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 30px 0 0 0;
    color: #0065FC;
    text-decoration: none;
    }
h2  {
    font-family: Raleway;
    padding-top: 30px;
    }
h4 {
    font-family: Raleway;
    }
/* body */
/* h */

.destination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
.mapmarker {
    width: 45px;
    height: 55px;
    border: 1px solid white;
    font-size: 1em;
    align-items: center;
    padding: 15px;
    color: black;
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    }
.mapmarker:hover {
    background-color: red;
    }
.mapmarkerimg {
    height: 18px;
    width: 16px;
    margin: -3px;
}
.whereto {
    border: 1px solid white;
    font-size: .8em;
    height: 55px;
    width: 200px;
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 0px 0px 0px 0px;
    }
.whereto:hover {
    background-color: red;
    }
.searchit {
    border: 1px solid white;
    font-size: .9em;
    height: 55px;
    padding: 15px 10px 15px 10px;
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    }
.searchit:hover {
    background-color: red;
    }
.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: Raleway;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: .5;
    padding: 5px;
    }
.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    margin: 5px;
    }
.filter:hover {
    background-color: red;
    }
.iconic {
    height: 50px;
    width: 50px;
    margin: 1px;
    padding: 15px;
    background-color: #DEEBFF;
    border-radius: 50px;
    border: 0px solid grey;
    color: #0065FC;
    }
.banner {
    line-height: 0;
    font-size: 1em;
    margin: auto;
    padding: 0px 10px;
    background-color:white;
    border-radius: 0 30px 30px 0;
    }
.banner:hover {
    background-color: transparent;
    }
.filteri {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    padding: 0 5px 5px 0;
    }
.iconici {
    height: 30px;
    margin: 5px 3px;
    padding: 5px 12px 29px 13px;
    background-color:white;
    border-radius: 26px;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    }
.banneri {
    line-height: 1em;
    padding: 10px;
    font-size: .9em;
    }
.checked {
    color: #0065FC;
    }
.unchecked {
    color: #f2f2f2;
    }
/* BODY    */

/* Accom & Most Pop flex box */
.mostpopaccom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    }
.fa-star {
    font-size: 10px;
    }
/* Accommodations in Marseilles */
.accoms {
    padding: 10px;
    min-width: 345px;
    background-color: #f2f2f2;
    border-radius: 15px;
    }
.acctitle {
    padding: 5px;
    width: 345px;
    }
.acctiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    }
.pops {
    background-color: white;
    border-radius: 15px;
    }
.pops2a {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    height: 169px;
    }
.pops2a:hover {
    background-color: red;
    }
.crop2 {
    width: 320px; /* width of container */
    height:108px; /* height of container */
    object-fit: cover;
    object-position: 30% 60%; 
    float: inline-start;
    padding: 5px 5px 0 5px;
    border-radius: 15px 15px 0 0;
    }
.pops2ab {
    text-align: left;
    font-size: 16px;
    margin-left: 5px;
    height: 65px;
    width: 320px;
    }
/* Most popular hotels in Marseilles */
.mostpop {
    padding: 10px;
    min-width: 345px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
.poptitle {
    background-color: #f2f2f2;
    padding: 5px;
    width: 300px;
}
.floater {
    float: right;
}
.poptiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 10px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    }
.poptile {
    background-color: white;
    border-radius: 15px;
    }
.pops1a {
    display: inline-block;
    width: 300px;
    height: 130px;
    justify-content: center;
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.pops1a:hover {
    background-color: red;
    }
.crop1 {
    width: 120px; /* width of container */
    height: 130px; /* height of container */
    object-fit: cover;
    float: left;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    }
.pops1ab {
    display:inline-block;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    height: 120px;
    width: 170px;
    margin: 5px;
    }
@media only screen and (min-width: 1420px) {
    .mostpopaccom {
        flex-direction: row-reverse;
        }            
    .accoms {
        width: 1040px;
        }
    .mostpop {
        max-width: 355px;
        }
    .poptitle {
        width: 5px;
        }
    }
/* Activities flex box */
/*
.accoms {
    padding: 20px;
    min-width: 345px;
    background-color: #f2f2f2;
    border-radius: 15px;
    }
.acctitle {
    padding: 5px;
    width: 345px;
    }
*/
.activinloc {
    padding: 10px;
    min-width: 345px;
    /*display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    */
    }
.acttitle {
    min-width: 310px;
    padding: 20px;
    }
.activs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 10px;
    height: 500px;
    margin-left: 1px;
    padding-bottom: 20px;
}
@media only screen and (max-width: 1374px) {
    .activs {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-gap: 10px;
        height: auto;
        padding-bottom: 20px;
        }
    }
.citys {
    background-color: white;
    border-radius: 15px;
    }
.citys :hover {
    background-color: red;
    }
.citys4a {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 412px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys4b {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 251px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys4c {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 143px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys4d {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 412px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys4e {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 197px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
.citys4f {
    border-color: white;
    border: none;
    background-color: white;
    border-radius: 10px;
    width: 320px;
    height: 197px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    }
@media only screen and (max-width: 1374px) {
    .citys4a, .citys4b, .citys4c, .citys4d, .citys4e, .citys4f  {
        border-color: white;
        border: none;
        background-color: white;
        border-radius: 10px;
        width: 320px;
        height: 143px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        }
} 
.citys3ab {
    text-align: left;
    font-size: 1em;
    margin-left: 0px;
    height: 35px;
    padding: 5px;
    border-radius: 0 0 15px 15px;
    }
a {
    text-decoration: none;
    color: black;
}

/* crop3 was used in media query */       
.crop4a {
    width: 320px; /* width of container */
    height:377px; /* height of container */
    object-fit: cover;
    object-position: 30% 60%;  
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4b {
    width: 320px; /* width of container */
    height:216px; /* height of container */
    object-fit: cover;
    /*object-position: 30% 50%; */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4c {
    width: 320px; /* width of container */
    height:108px; /* height of container */
    object-fit: cover;
    /*object-position: 30% 50%; */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4d {
    width: 320px; /* width of container */
    height:377px; /* height of container */
    object-fit: cover;
    /*object-position: 30% 50%; */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4e {
    width: 320px; /* width of container */
    height:162px; /* height of container */
    object-fit: cover;
    object-position: 20% 10%;
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    }
.crop4f 
    {
    width: 320px; /* width of container */
    height:162px; /* height of container */
    object-fit: cover;
    /*object-position: 30% 50%; */ 
    float: inline-start;
    padding: 5px;
    border-radius: 15px 15px 0 0;
}
@media only screen and (max-width: 1374px) {
    .crop4a, .crop4b, .crop4c, .crop4d, .crop4e, .crop4f  {
        width: 320px; /* width of container */
        height:108px; /* height of container */
        object-fit: cover;
        float: inline-start;
        padding: 5px;
        border-radius: 15px 15px 0 0;
    }
} 
.crop3 {
    width: 320px; /* width of container */
    height: 130px; /* height of container */
    object-fit: cover;
    float: left;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    }
        
.city1a {
    padding: 0px;
    border: 1px;
    border-radius: 20px;
    }
.spacer {background-color: white;}
    /* FOOTER  */
.footer {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    font-family: Raleway;
    font-size: .8rem;
    padding: 30px;
    background-color: #f2f2f2;
    }
.footer1 {
    width: 315px;
    height: 130px;
    padding-right: 40px;
    }
.footer1a {
    grid-gap: 10px;
    padding: 5px;
    border: 0;
    }
.footer1a:hover {
    background-color: red;
    }